<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.9.2</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2016 Jonathan Harris. Licensed under GPLv2 or later.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane autogen point</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.agp</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=x-plane-10-autogen-scenery-file-format</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>agp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane facade</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.fac</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=x-plane-10-facade-fac-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fac</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane forest</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.for</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=forest-for-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>for</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane painted line</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.lin</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=painted-line-lin-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<!-- For pre-10.11 which doesn't define public.geometry-definition-format -->
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.3d-content</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane 3D object</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.obj</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=obj8-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>obj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane draped polygon</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.pol</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=draped-polygon-polfac-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pol</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane object string</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.str</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=object-string-str-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>str</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
